.rcw-widget-container {
    pointer-events: none;
}

.rcw-conversation-container, .rcw-launcher {
    pointer-events: auto;
}

.rcw-conversation-container > .rcw-header {
    background-color: cornflowerblue;
    font-family: "DIN Alternate", "DIN Condensed", "Avenir Next", "Roboto", "Helvetica", "Arial", sans-serif;
}

.rcw-conversation-container .rcw-title {
    padding: 0;
}

.rcw-response > .rcw-message-text {
    color: #444;
    background-color: #DDD;
}
.rcw-client > .rcw-message-text {
    background-color: cornflowerblue;
}
.rcw-launcher {
    background-color: cornflowerblue;
    box-shadow: none;
}

.rcw-timestamp {
    color: lightslategray;
}

.rcw-conversation-container {
    box-shadow: none;
}


video:focus {
    outline: none;
}

.sc-user-input--file-icon-wrapper {
    display: none;
}

.sc-header--team-name {
    font-family: "DIN Alternate", "DIN Condensed", "Avenir Next", "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.7em;
}
